---
---

<article>
  <div class="background-svg"></div>
  <div class="content">
    <h4>
      Genbrug handler om at vi skal <br />
      <span class="pink">blive bedre og smartere</span> til at bruge jordens ressourcer
    </h4>
    <p>
      Dels fordi vi kun har en begrænset mængde af dem. Dels fordi det reducerer
      mængden af CO2-udledninger der er forbundet med produktion og
      affaldsforbrænding. Dels fordi det ret direkte genererer mindre affald,
      som i værste fald kan bidrage til plastikforurening.
    </p>
  </div>
</article>


<style>
article {
  max-width: 1600px; /* Set max width to 1600px */
  margin: 0 auto; /* Center the article */
  padding: 2rem 3rem; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  z-index: 1;
  width: 100%; /* Ensure content takes full width of the container */
  max-width: 800px; /* Set a max width for the content for better readability */
  margin: auto; /* Center the content */
  padding: 6rem 3rem; /* Adjust padding for content */
  text-align: center; /* Align text to the center */
}

h4 {
  font-family: "Poppins";
  font-size: clamp(18px, 2vw, 48px); /* Responsive font size */
}

p {
  color: #2a5f5e;
  font-family: "Rubik";
  font-size: clamp(16px, 2vw, 20px); /* Responsive font size */
}

.pink {
  color: #e72458;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place background behind content */
  background-image: url("src/asset/svgimages/GenbrugSectionBackground.svg");
  background-size: stretch; /* Cover the entire area */
  background-repeat: no-repeat;
  background-position: bottom; /* Align the image to the bottom */
}

@media screen and (max-width: 750px) {
  .content {
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
  }

  h4, p {
    width: auto; /* Allow text to adjust naturally on smaller screens */
  }

}

</style>
