---
---

<article>
  <h1>Hvorfor er genbrug <br /> <div class="pink">løsningen</div></h1>
  <p>
    Fremtiden kalder på mere genbrug, hvis vi skal løse plastikkrisen. Forstå
    hvorfor, at omfattende genbrugssystemer er en af de mest effektive løsninger
    til at løse plastikkrisen.
  </p>
  <center>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/7eivTQkBYvo?si=4X2BvPIswXobDr97"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </center>
</article>

<style>
  article {
    padding: var(--spacing-text-padding-vertical, 2rem)
      var(--spacing-section-padding-horzontal, 8rem);

    gap: var(--spacing-text-gap-vertical, 2rem);
  }

  h1 {
    /* padding: var(--spacing-text-padding-vertical, 2rem)
      var(--spacing-text-padding-horizontal, 3rem);
    gap: var(--spacing-text-gap-vertical, 2rem); */
    color: #000;
    font-family: "Poppins";
    font-size: 5rem;
    margin: 0;
  }
  .pink {
    color: var(--text-header-highlight-color, #e72458);
  }

  p {
    width: 31.25rem;
    height: 7.375rem;
    padding: var(--spacing-text-padding-vertical, 2rem)
      var(--spacing-text-padding-horizontal, 3rem);
    color: var(--text-paragraph-color-pine-green-medium, #2a5f5e);
    font-family: "Rubik";
    font-size: 1rem;
  }
</style>
