---
---

<article>
  <div class="background-svg"></div>
  <div class="content">
    <h4>
      Genbrug handler om at vi skal blive
      <span class="pink">bedre og smartere</span> til at bruge jordens ressourcer
    </h4>
    <p>
      Dels fordi vi kun har en begrænset mængde af dem. Dels fordi det reducerer
      mængden af CO2-udledninger der er forbundet med produktion og
      affaldsforbrænding. Dels fordi det ret direkte genererer mindre affald,
      som i værste fald kan bidrage til plastikforurening.
    </p>
  </div>
</article>

<style>
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1439px;
    height: auto;
    margin: auto;
    overflow: hidden;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: var(--spacing-text-padding-vertical)
      var(--spacing-text-padding-horizontal);
    width: 100%;
    max-width: 828px;
    margin: auto;
  }


  .pink {
    color: var(--text-header-highlight-color);
    /* Header4 */
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 20px; 
    width: 600px;
  }

  p {
    color: var(--color-complimentary-pine-green-medium);
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 400;
  }
  .background {
    background-color: #d3e2e2;
    background-image: url("../../asset/svgimages/GenbrugSectionBackground.svg");
  }

  /* Media Queries for smaller screens */

  @media (max-width: 600px) {
    h4,
    .pink {
      width: auto;
      font-size: 24px;
    }
    .content {
      padding: 1rem;
    }
    h4,
    p {
      padding: 20px;
    }
    h4 {
      padding-top: 3rem;
    }
    p {
      padding-bottom: 4rem;
      font: 16px;
    }
    .background {
      height: 750px;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
</style>
