---
---

<div class="container">
  <div class="item">
    <h1>Large Heading</h1>
  </div>
  <div class="item">
    <p>Paragraph Text</p>
  </div>
  <div class="item">
    <p>Another Paragraph Text</p>
  </div>
  <div class="item">
    <!-- <img src="your-image.jpg" alt="Description of the image" /> -->
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"></script>

    <dotlottie-player
      src="https://lottie.host/021e5636-532f-48c8-8ee4-b0a4abd612c1/UAzNjmWe2C.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px;"
      loop
      autoplay></dotlottie-player>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .item {
    /* border: 1px solid #ddd; */
    padding: 20px;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
