/* ----------- PRIMITIVE ---------- */

:root {
  /* colors */
  --color-pink: #ff1054;
  --color-complimentary-pine-green-dark: #142c2b;
  --color-complimentary-pine-green-light: #90b7b6;
  --color-complimentary-pine-green-lightest: #d3e2e2;
  --color-complimentary-pine-green-medium: #2a5f5e;
  --color-complimentary-pine-green-normal: #007c79;
  --color-primary-cerise-red-dark: #49131c;
  --color-primary-cerise-red-light: #f38898;
  --color-primary-cerise-red-lightest: #fbd9de;
  --color-primary-cerise-red-medium: #952738;
  --color-primary-cerise-red-normal: #e72458;
  --color-secondary-graphite-dark: #1c1e23;
  --color-secondary-graphite-light: #cacdd5; /* Corrected the typo 'ligth' to 'light' */
  --color-secondary-graphite-medium: #70727d;
  --color-secondary-graphite-normal: #a3a6b4;
  --color-secondary-white: #ffffff;

  /* spacing */
  --size-0: 0rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --size-128: 8rem;
  --size-350: 21.875rem;
  --size-430: 26.875rem;

  /* for all sections max-width */
  --max-width-article: 90rem;
}

/* ----------- SEMANTISKE ---------- */

/* COLORS */
:root {
  /* Background color */
  --logo-color: var(--color-pink);
  --button-primary-default-background-color: #ffffff;
  --button-secondary-default-background-color: var(
    --color-secondary-graphite-light
  ); /* Corrected variable name */

  /* Text color */
  --button-primary-default-text-color: var(--color-primary-cerise-red-normal);
  --button-primary-hover-text-color: #ffffff;
  --button-secondary-hover-text-color: #ffffff;
  --newsletter-title-color: var(--color-complimentary-pine-green-dark);
  --text-header1-color-pine-green-dark: var(
    --color-complimentary-pine-green-dark
  ); /* Corrected variable name */
  --text-header-highlight-color: var(--color-primary-cerise-red-normal);
  --text-paragraph-color-pine-green-light: var(
    --color-complimentary-pine-green-light
  );
  --text-paragraph-color-pine-green-medium: var(
    --color-complimentary-pine-green-medium
  );
  --text-paragraph-color-pine-green-normal: var(
    --color-complimentary-pine-green-normal
  );
  --text-paragraph-color-pinegreen-dark: var(
    --color-complimentary-pine-green-dark
  );
  --text-paragraph-graphitedark: var(--color-secondary-graphite-dark);
  --text-paragraph-graphitelight: var(--color-secondary-graphite-light);
  --text-paragraph-graphitemedium: var(--color-secondary-graphite-medium);

  /* link */
  --link-color-default: var(--color-secondary-graphite-dark);
  --link-color-hover: var(--color-primary-cerise-red-normal);
  --link-color-active: var(--color-secondary-graphite-dark);

  /* Border */
  --border-radius: 0.25rem;

  /* -------------- WEB SPACING ------------*/

  /* Button */
  --button-padding-horizontal: var(--size-32);
  --button-padding-vertical: var(--size-16);

  /* Newsletter */
  --newsletter-number: 0rem;
  --newsletter-title-size: var(--size-40);
  --newsletter-gab-vertival: var(--size-12);

  /* Title with red */
  --article-padding-vertical: var(--size-80);
  --article-padding-horizontal: var(--size-128);
  --article-gap: var(--size-32);
  --header-color: var(--text-header1-color-pine-green-dark);
  --highlight-color: var(--text-header-highlight-color);
  --paragraph-color: var(--text-paragraph-color-pine-green-medium);

  /* Nav */
  --nav-padding-vertical: 0rem;
  --nav-padding-horizontal: var(--size-56);
  --spacing-nav-padding-horizontal: var(--size-56);

  /* Footer */
  --footer-padding-vertical: var(--size-24);
  --footer-padding-horizontal: var(
    --size-128
  ); /* Changed to a defined variable */

  /* Form */
  --form-elements-horizontal-gab: var(--size-24);

  /* Text */
  --text-gap-vertical: var(--size-32);
  --text-padding-vertical: var(--size-32);
  --text-padding-horizontal: var(--size-48);
  --font-size-header-small: var(--size-40);
  --font-size-header-large: var(--size-80);
  --line-height-header: var(--size-80);
  --line-height-header-mobile: var(--size-40);

  /* Section */
  --section-element-gap: var(--size-80);
  --section-padding-vertical: var(--size-80);
  --section-padding-horizontal: var(--size-128);
  --section-onecollum-padding-horizontal: var(--size-350);
}

/* ---------- MOBILE SPACING ----------- */

:root {
  /* numbers */
  --container-padding-between-elements: var(--size-24);
  --container-padding-top-bottom: var(--size-32);
  --container-padding-left-right: var(--size-64);
  --text-padding-between-elements: var(--size-12);
}
