*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  block-size: 100%;
}

body {
  min-block-size: 100%;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

/* input,
button,
textarea,
select {
  font: inherit;
} */

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  padding: 0;
}

li {
  color: var(--color-complimentary-pine-green-medium, #2a5f5e);

  /* Paragraph20Normal */
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.5%; /* 30.1px */
}
h1,
h2,
h3,
h5,
h6 {
  font-family: "Poppins";
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: "Rubik", sans-serif;
  max-width: 65ch;
  font-size: 20px;
}
