*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  block-size: 100%;
  /* color: var(--gray-7); */
  /* font-family: var(--font-sans); */
  /* line-height: var(--font-lineheight-3); */
}

body {
  min-block-size: 100%;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Poppins";
}

h4 {
  font-family: "Poppins";
}

p {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  max-width: 55ch;
}

::selection {
  background-color: var(--color-primary-cerise-red-normal, #e72458);
  color: #fff !important;
}
