---
import Sbuttons from "../globalcomponents/Sbuttons.astro";
import OnePrinc from "../globalcomponents/OnePrinc.astro";
import Title from "../globalcomponents/Title.astro";
---

<section>
  <Title
    manchet="Som plastic changer har vi"
    bigred="5 principper"
    text="Alle, der er med til at sætte fokus på plastik dagsordenen er i princippet en Plastic Changer. Vi drives af ønsket om at skabe en positiv forandring i retningen mod ansvarlig brug af plastik."
  />
  <section>
    <div class="content">
      <OnePrinc number="1" title="Vi er ikke imod plastik" />
      <OnePrinc
        number="2"
        title="Vi fortæller historier om plastikforurening"
      />

      <OnePrinc
        number="3"
        title="Vi opsøger viden og sætter os ind i sagerne"
      />

      <OnePrinc number="4" title="Vi tror på ordenlighed" />

      <OnePrinc number="5" title="Vi tror på at engagement driver forandring" />
      <a class="no-style" href="/defemprincipper">
        <Sbuttons title="Læs mere om principperne" , size="large" />
      </a>
    </div>
  </section>

  <style>
.no-style {
  display: inline-block; /* Make the <a> tag only as wide as its content */
  text-decoration: none;
  margin: 20px 0; /* Adjust margin as needed */
  padding-left: 35%;
}

    section {
      max-width: 1650px; /* Maximum width of the section */
      margin: auto; /* Center the section */
      background-image: url("src/asset/svgimages/FiveprincipBG.svg");
      background-size: cover; /* Cover the entire section */
      background-position: bottom; /* Center the image in the section */
      background-repeat: no-repeat; /* Prevent the image from repeating */
    }

    .content {
      padding-bottom: 600px; /* Adding padding to the bottom */
    }

    @media screen and (max-width: 768px) {
      .content {
        padding-bottom: 300px; /* Adjust padding for smaller screens */
      }
      .no-style {
        margin: 0;
  padding-left: 10%;
}
    }
  </style>
</section>
