---
import Buttons from "../components/globalcomponents/Buttons.astro"";
---

<section>
  <div>
    <h1></h1>
    <p></p>
    <Buttons />
  </div>
</section>

<style>
  section {
    background-image: url(src/asset/svgimages/HeroBackground.svg);
  }
</style>
