---
import Pbuttons from "../globalcomponents/font-size: 20px;.astro";
---

<section class="grid">
  <div class="backgroundimg"></div>
  <div class="textcontainer slide-left">
    <h1 class="gsaptest">
      Bliv
      <span>Plastic Changer</span>
      <br />- Dit bidrag til fremtidens <span>klima</span>
    </h1>
    <p>
      Dyk ned i rejsen mod bæredygtighed og opdag, hvorfor din rolle som Plastic
      Changer er afgørende for at skabe et positivt miljøaftryk og forandre
      vores forhold til plastik. Er du klar til at tage skridtet mod en grønnere
      og mere ansvarlig fremtid?
    </p>
    <a class="no-style" href="/forms">
      <Pbuttons title="Gør en forskel nu" size="large" />
    </a>
  </div>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--color-complimentary-pine-green-lightest);
    max-width: 1800px;
    margin: 0 auto; 
  }

  .backgroundimg {
    background-image: url("../../asset/svgimages/HeroBackground.svg");
    background-size: cover; 
    background-position: left; 
    background-repeat: no-repeat;
    max-width: 100%;
  }

  .textcontainer {
    padding: var(--spacing-section-padding-horzontal)
      var(--spacing-section-padding-vertical);
  }

  h1,
  p,
  Pbuttons {
    margin-bottom: var(--spacing-text-gap-vertical);
  }

  h1 {
    color: var(--text-header-1-color-pine-green-dark, #142c2b);
    font-family: "Poppins";
    font-size: clamp(28px, 4vw, 48px);
    font-weight: 300;
  }

  span {
    font-weight: 700;
  }

  p {
    color: var(--text-paragraph-color-pine-green-medium);
    font-family: "Rubik";
    font-size: clamp(16px, 2vw, 20px);
    line-height: 150.5%;
  }

  .no-style {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
  }
  @media (max-width: 1300px) {
    .grid {
      grid-template-columns: 1fr; /* Stack elements on smaller screens */
    }

    .backgroundimg {
      grid-column: 1; /* Adjust column for background image */
      min-height: 400px; /* Set a minimum height for visibility */
      background-image: url("../../asset/svgimages/mobielBG.svg");
      background-position: bottom; /* Align the bottom of the image */
    }

    .textcontainer {
      grid-column: 1;
      padding: var(--spacing-text-padding-vertical) var(--spacing-text-padding-horizontal);
      padding-top: 0;
    }
  }

  /* ------- all from animista ------- */

  .slide-left {
    -webkit-animation: slide-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
      both;
    animation: slide-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    overflow: hidden;
  }

  /**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50vw);
      transform: translateX(50vw);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(50vw);
      transform: translateX(50vw);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
</style>
