---
import Pbuttons from "../globalcomponents/Pbuttons.astro";
import Nav from "../globalcomponents/Nav.astro";
---

<Nav />
<section>
  <div class="backgroundimg"></div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="942"
      height="873"
      viewBox="0 0 942 873"
      fill="none"
    >
      <path
        d="M231.03 322.678C214.897 251.606 69.827 217.946 58.7967 146.798C47.7665 75.6507 316.146 -26 316.146 -26L946 -26L946 873L269.28 873C269.28 873 95.6316 810.686 93.8442 754.534C92.8872 724.469 173 710.942 173.953 680.877C175.335 637.291 48.4396 621.148 13.7356 578.654C-68.0682 478.49 254.306 425.215 231.03 322.678Z"
        fill="#D3E2E2"></path>
    </svg>
  </div>
  <div class="herocontent">
    <h1>Bliv Plastic Changer <br />- dit bidrag til fremtidens klima</h1>
    <p>
      Dyk ned i rejsen mod bæredygtighed og opdag, hvorfor din rolle som Plastic
      Changer er afgørende for at skabe et positivt miljøaftryk og forandre
      vores forhold til plastik. Er du klar til at tage skridtet mod en grønnere
      og mere ansvarlig fremtid?
    </p>
    <Pbuttons title="Gør en forskel nu" size="large" />
  </div>
</section>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .backgroundimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("src/asset/svgimages/HeroBackground.svg");
    background-size: cover; /* eller background-size: contain; afhængigt af dine krav */
    background-repeat: no-repeat;
  }

  section {
    position: relative;
  }

  svg {
    width: 100%;
    fill: var(--color-complimentary-pine-green-lightest, #d3e2e2);
  }

  .herocontent {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    padding: var(--spacing-section-padding-horzontal, 8rem)
      var(--spacing-section-padding-vertical, 5rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  p {
    color: var(--text-paragraph-color-pine-green-medium, #2a5f5e);

    /* Paragraph20Normal */
    font-family: Rubik;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%; /* 1.88125rem */
    width: 30.6875rem;
  }

  h1 {
    color: var(--text-header-1-color-pine-green-dark, #142c2b);
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    width: 34.5625rem;
    height: 14.375rem;
    flex-direction: column;
    justify-content: flex-end;
  }
</style>
