---
const { image, title, description } = Astro.props;
---

<section class="oneadvice forfatterfoto">
  <div>
    <img src={image} alt="" />
  </div>
  <div>
    <h3 class="gsaptest">{title}</h3>
    <p>{description}</p>
    <style>
      .oneadvice {
        display: flex;
        align-items: center;
        gap: 1.75rem;
      }
    </style>
  </div>
</section>
<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".gsaptest", {
    color: "#76EE00",
    duration: 5,
    scrollTrigger: "h3",
  });
</script>
