---
const { title, description } = Astro.props;
---

<div class="card-text">
  <h3>{title}</h3>
  <p>{description}</p>
</div>

<style>
  .card-text {
    flex-grow: 1;
    padding-left: var(--spacing-Forms-container-gap, 24px);

;
  }

  .card-text h3 {
    color: var(--text-color-paragraph-color-pinegreen-Dark, #142C2B);
/* Header4 */
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .card-text p {
    color: var(--text-color-paragraph-color-PineGreenMedium, #2A5F5E);

/* Paragraph20Medium */
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
  }
</style>
