---
const { image, title, description } = Astro.props;
import { Image } from "astro:assets";
import img1 from "../../asset/icons/GoderaadTshirt.svg";
import img2 from "../../asset/icons/toiletpapir.svg";
import img3 from "../../asset/icons/kostmetik.svg";
import img4 from "../../asset/icons/bag.svg";
---

<section class="oneadvice">
  <div>
    <!-- <img src={image} alt="" /> -->
    <!-- <Image src={img1}/> -->
  </div>
  <div>
    <h3>{title}</h3>
    <p>{description}</p>
    <style>
      .oneadvice {
        display: flex;
        align-items: center;
        /* justify-content: left; */
        gap: 1.75rem;
        width: 500px;
      }

      p {
        font-size: 20px;
        font-weight: 300;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      @media (max-width: 900px) {
        img {
          width: 100px;
        }
      }
    </style>
  </div>
</section>
