---
const { title, description } = Astro.props;
---

<div class="card-text">
  <h3>{title}</h3>
  <p>{description}</p>
</div>

<style>
  .card-text {
    flex-grow: 1;
    padding-left: var(--spacing-Forms-container-gap, 24px);

;
  }

  .card-text h3 {
    color: var(--text-color-paragraph-color-pinegreen-Dark, #142C2B);
/* Header4 */
font-size: clamp(20px, 2.5vw, 32px);
font-weight: 700;
  }

  .card-text p {
    color: var(--text-color-paragraph-color-PineGreenMedium, #2A5F5E);

/* Paragraph20Medium */
font-size: clamp(16px, 2vw, 20px);
font-style: normal;
font-weight: 500;
  }
</style>
