---
const { image, title, description } = Astro.props;
---

<section class="oneadvice">
  <div>
    <img {image} src="src/asset/icons/GoderaadMilk.svg" alt="" />
  </div>
  <div>
    <h3>{title}</h3>
    <p {description}>Køb din mælk uden skruelåg</p>
    <style>
      .oneadvice {
        display: flex;
        align-items: center;
        gap: 1.75rem;
      }
    </style>
  </div>
</section>
