---
import Oneadvice from "../campaignsite1/Oneadvice.astro";
---

<section class="sectionadvice">
  <div>
    <h2 class="slide-top">
      Tænk plastspild ind <br /> i <span class="bold">din hverdag</span> med de <br
      />
      <span class="pink">7 gode råd</span>
    </h2>
  </div>

  <section class="sevenadvices">
    <div class="lottie">
      <div class="size">
        <dotlottie-player
          src="https://lottie.host/369caee3-f4b1-4330-b003-b92688d42a6d/XMFDuREjeM.json"
          background="transparent"
          speed="1"
          style="width: 150px; height: 151px;"
          loop
          autoplay></dotlottie-player>
      </div>
      <Oneadvice title="Din mælk" description="Køb din mælk uden skruelåg" />
    </div>

    <div class="container-7">
      <div class="img1"></div>
      <Oneadvice
        title="Din tøjvask"
        description="Fyld maskinen, så du slidder mindre på tøjet"
      />
    </div>
    <div class="container-7">
      <div class="img2"></div>
      <Oneadvice
        title="Dit toiletbesøg"
        description="Kun tre ting i toilettet - tis, lort og papir"
      />
    </div>
    <div class="lottie">
      <div class="size">
        <dotlottie-player
          src="https://lottie.host/33b7cd0c-9b0a-4401-8be2-38e0a1ace64a/7Zb5tPYAuC.json"
          background="transparent"
          speed="1"
          style="width: 150px; height: 158px;"
          loop
          autoplay></dotlottie-player>
      </div>
      <Oneadvice
        title="Din fest"
        description="Drop engangsservice, balloner og sugerør"
      />
    </div>

    <div class="lottie">
      <div class="size">
        <dotlottie-player
          src="https://lottie.host/abf77aba-2e43-4b1c-9ba7-44dd7bcb0127/QxA32NZAAV.json"
          background="transparent"
          speed="1"
          style="width: 150px; height: 152px;"
          loop
          autoplay></dotlottie-player>
      </div>
      <Oneadvice
        title="Din vandflaske"
        description="Brug drikkedunk og undgå købevand"
      />
    </div>
    <div class="container-7">
      <div class="img3"></div>
      <Oneadvice
        title="Dine plejeprodukter"
        description="Køb i store beholdere frem for mange små"
      />
    </div>
    <div class="container-7">
      <div class="img4"></div>
      <Oneadvice
        title="Dit indkøb"
        description="Tag mulepose med og \
    sig nej tak til plastikposer"
      />
    </div>
  </section>
</section>
<style>
  .lottie {
    display: flex;
    width: 500px;
  }
  .sectionadvice {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-section-padding-horzontal, 8rem);
    justify-content: center;
    align-content: center;
    gap: var(--spacing-section-element-gap, 5rem) -15.5rem;
  }

  .sevenadvices {
    display: flex;
    max-width: 69.9375rem;
    padding: var(--size-80, 5rem) 0.125rem;
    gap: var(--spacing-section-element-gap, 5rem);
    flex-wrap: wrap;
  }
  img {
    width: 150px;
  }
  h2 {
    color: var(--text-paragraph-graphitedark, #1c1e23);
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .bold {
    font-weight: 900;
  }

  .pink {
    font-weight: 900;
    color: var(--color-primary-cerise-red-normal, #e72458);
  }
  .test {
    width: 150px;
  }

  .img1 {
    background-image: url("../../asset/icons/GoderaadTshirt.svg");
    background-size: contain; /* eller background-size: contain; afhængigt af dine krav */
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
  }

  .img2 {
    background-image: url("../../asset/icons/toiletpapir.svg");
    background-size: contain; /* eller background-size: contain; afhængigt af dine krav */
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
  }

  .img3 {
    background-image: url("../../asset/icons/kostmetik.svg");
    background-size: contain; /* eller background-size: contain; afhængigt af dine krav */
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
  }

  .img4 {
    background-image: url("../../asset/icons/bag.svg");
    background-size: contain; /* eller background-size: contain; afhængigt af dine krav */
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
  }

  .container-7 {
    /* display: flex; */
    max-width: 69.9375rem;
    /* padding: var(--size-80, 5rem) 0.125rem; */
    /* gap: var(--spacing-section-element-gap, 2rem); */
    /* flex-wrap: wrap; */
  }

  @media (max-width: 900px) {
    h2 {
      font-size: 2rem;
      line-height: 150.5%;
      padding: var(--spacing-section-padding-horzontal, 2rem);
    }
    .sectionadvice {
      padding: 1rem;
    }
    dotlottie-player {
      width: 50px;
    }
  }

  /* ------ animista from here ------------ */
  .slide-top {
    -webkit-animation: slide-top 1.2s ease-in-out both;
    animation: slide-top 1.2s ease-in-out both;
  }

  /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
</style>
<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"></script>
<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"></script>
<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"></script>
