<section class="container">
  <div class="penguinimage pulsate-fwd"></div>
  <div class="grid-section">
    <div class="grid-item">
      <div class="card, Vidstedu">
        <h2>Vidste du at?</h2>
        <p>
          Kemikalier fra plastik kan overføres til dyrenes væv, og når vi
          konsumerer fisk, der har indtaget plastik, kan disse skadelige
          kemikalier også ende i vores system, hvilket udgør en sundhedsrisiko.
        </p>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <h2>Konsekvenser af Plastikforurening i havet</h2>
        <ul>
          <li>Mindst 2249 marine arter har haft kontakt med plastik.</li>
          <li>50 % af pukkelhvaler bærer ar fra fiskenet eller reb.</li>
          <li>
            Op til 135.000 sæler og bardehvaler vikles ind i affald årligt
          </li>
          <li>1 ud af 3 skadede eller døde fugle er viklet ind i plastik.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 997px;
    margin: auto;
    position: relative;
  }

  .penguinimage {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    background-image: url("../../asset/svgimages/pingvin-kao-illustration-ai.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 699px;
    width: 90%;
    height: 905px;
    z-index: -1;
  }

  .grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 200px 5%;
    margin: 0 auto; /* Centering the grid-section */
    width: 100%; /* Use full available width */
    max-width: 1440px; /* Maximum width limit */
    height: auto; /* Adjust height dynamically */
    background-color: rgba(211, 226, 226, 0.5);
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    padding: 20px;
    text-align: left;
  }

  h2 {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    margin-bottom: 10px;
  }

  p,
  ul {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-family: Rubik;
    font-size: 20px;
    line-height: 1.5;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .grid-section {
      padding: 50px 3%; /* Reduced padding for smaller screens */
      grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
    }

    .card {
      padding: 15px; /* Reduced padding inside the card */
    }

    .penguinimage {
      top: -25%;
    }
  }

  /* -------- animista from here ---------- */

  .pulsate-fwd {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
  }

  /**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
  @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.04);
      transform: scale(1.04);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.04);
      transform: scale(1.04);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .penguinimage {
    position: absolute;
    top: 0;
    /* left: 50%; */
    transform: translateX(-50%);
    background-image: url("../../asset/svgimages/pingvin-kao-illustration-ai.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 699px;
    width: 90%;
    height: 905px;
    z-index: -1;
  }

  .grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 200px 5%;
    margin: 0 auto; /* Centering the grid-section */
    width: 100%; /* Use full available width */
    max-width: 1440px; /* Maximum width limit */
    height: auto; /* Adjust height dynamically */
    background-color: rgba(211, 226, 226, 0.5);
    align-items: flex-start;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    text-align: left;
  }

  h2 {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    margin-bottom: 10px;
  }

  p,
  ul {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-family: Rubik;
    font-size: 20px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    .grid-section {
      padding: 50px 3%; /* Reduced padding for smaller screens */
      grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
    }

    .card,
    .Vidstedu {
      padding: 15px; /* Reduced padding inside the card */
    }
  }
</style>
