<article>
  <h2 class="header-text">Som Plastic Changer har vi</h2>
  <h1 class="header-text pink">5 principper</h1>
  <p class="main-text">
    Alle, der er med til at sætte fokus på plastik dagsordenen er i princippet
    en Plastic Changer. Vi drives af ønsket om at skabe en positiv forandring i
    retningen mod ansvarlig brug af plastik.
  </p>
</article>

<style>
  :root {
    --spacing-vertical: 32px;
    --spacing-horizontal: 128px;
    --text-gap-vertical: 32px;
    --header-color: #000;
    --highlight-color: #e72458;
    --paragraph-color: #2a5f5e;
  }

  article {
    max-width: 100%; /* Adjust width as needed */
    margin: 0px auto;
    padding: var(--spacing-text-padding-vertical, 32px)
      var(--spacing-text-padding-horizontal, 128px);
  }

  .header-text {
    color: var(--header-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  h1.header-text {
    font-size: min(max(5vw, 38px), 80px); /* Responsive font size with a min of 38px and max of 60px */
  }

  h2.header-text {
    font-size: min(max(3vw, 18px), 48px); /* Responsive font size with a min of 18px and max of 40px */
    font-weight: 900;
  }

  .pink {
    color: var(--highlight-color);
  }

  .main-text {
    color: var(--paragraph-color);
    font-family: "Rubik", sans-serif;
    font-size: min(max(1.5vw, 16px), 18px); /* Responsive font size with a min of 16px and max of 24px */
    font-weight: 500;
    line-height: 1.5;
    max-width: 60ch; /* Adjust as needed */
  }

</style>
