---
import OnePrinc from "../globalcomponents/OnePrinc.astro";
---
<section>
<OnePrinc
  number="1"
  title="Vi er ikke imod plastik"
  text="Plastik gavner os, når det bruges korrekt. Vi støtter ansvarlig plastikbrug ved at reducere forbruget, især af engangsplastik, og fremme produktionen af høj kvalitet plastik, der kan genbruges. Plastic Changer ønsker ikke at afskaffe plastik, men at ændre adfærd, så det bliver en fordel frem for en byrde for verdenen."
/>
<OnePrinc
  number="2"
  title="Vi fortæller historier om plastikforurening"
  text="Problemerne i verdenshavene skyldes ikke kun lokal forurening, men primært plastikproduktion og -behandling på land. Løsningerne bør fokusere på landbaserede tiltag. Selvom havrensning er synlig og motiverende, er nøglen til at løse problemet at reducere plastikudledningen."
/>

<OnePrinc
  number="3"
  title="Vi opsøger viden og sætter os ind i sagerne"
  text="Vi opsøger og deler viden, men vi kan ikke vide det hele og nogle gange skal et givent emne undersøges nærmere før vi kan udtale os mere sikkert om det. Det der kan virke som en smart løsning er det måske ikke, når man tager helheden i betragtning."
/>

<OnePrinc
  number="4"
  title="Vi tror på ordenlighed"
  text="Vi tror på at samtale og samarbejde er vejen frem, og peger ikke fingre af andre, men opfordrer til ordentlig opførsel."
/>

<OnePrinc
  number="5"
  title="Vi tror på at engagement driver forandring"
  text="Vi har lyst til at gøre en forskel, og tror på at vores handlinger og ord er med til at skabe en positiv forandring, der kan inspirere andre. Mange gange er det de små ting, som kan gøre den store forskel - selv en lille indsats kan være med til at skabe store resultater."
/>
</section>


