---
import Footer from "../components/globalcomponents/Footer.astro";
import Nav from "../components/globalcomponents/Nav.astro";
import Faktabox from "../components/campaignsite2/Faktabox.astro";
import Fiveprinciplessection from "../components/campaignsite2/Fiveprinciplessection.astro";
import Newsletterform from "../components/campaignsite2/Newsletterform.astro";
import VersusSection from "../components/campaignsite2/VersusSection.astro";
import "../styles/global.css";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="styles/reset.css" />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <Fiveprinciplessection/>
    <Newsletterform/>
    <Faktabox/>
    <VersusSection/>
    <Footer />
  </body>
</html>