---
import Genbrugsection1 from "../components/campaignsite3/Genbrugsection1.astro";
import Genbrugsection2 from "../components/campaignsite3/Genbrugsection2.astro";
import Genbrugsection3 from "../components/campaignsite3/Genbrugsection3.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Calltoactionsection2 from "../components/globalcomponents/Calltoactionsection2.astro";
---

<BaseLayout>
  <Genbrugsection1 />
  <div class="background slide-top">
    <Genbrugsection2 />
  </div>
  <Genbrugsection3 />
  <Calltoactionsection2
    head="Du kan beskytte naturen, dyrelivet og vores børn mod plastik"
    text="Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu og at vi kan uddanne fremtidens forbrugere."
  />
</BaseLayout>

<style>
  .background {
    background-color: #d3e2e2;
    background-image: url("../../src/asset/svgimages/GenbrugSectionBackground.svg");
    height: 750px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /* ------ animista from here ------------ */
  .slide-top {
    -webkit-animation: slide-top 2.2s ease-in-out both;
    animation: slide-top 2.2s ease-in-out both;
  }

  /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
</style>
