---
import Footer from "../components/globalcomponents/Footer.astro";
import Nav from "../components/globalcomponents/Nav.astro";
import "../styles/global.css";
import Genbrugsection1 from "../components/campaignsite3/Genbrugsection1.astro";
import Genbrugsection2 from "../components/campaignsite3/Genbrugsection2.astro";
import Genbrugsection3 from "../components/campaignsite3/Genbrugsection3.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="styles/reset.css" />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <Genbrugsection1 />
    <Genbrugsection2 />
    <Genbrugsection3 />
    <Footer />
  </body>
</html>
