---
import Footer from "../components/globalcomponents/Footer.astro";
import "../styles/global.css";
import Herosection from "../components/campaignsite1/Herosection.astro";
import Introsection from "../components/campaignsite1/Introsection.astro";
import Sevenadvices from "../components/campaignsite1/Sevenadvices.astro";
import Fivepshort from "../components/campaignsite1/Fivepshort.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
  <Herosection/>
  <Introsection/>
  <Fivepshort/>
  <Sevenadvices/>
    <footer><Footer /></footer>

    <h1>Astro</h1>
  </body>
</html>
