---
import Pbuttons from "../components/globalcomponents/Pbuttons.astro";
import Sbuttons from "../components/globalcomponents/Sbuttons.astro";
import Genbrugsection1 from "../components/campaignsite3/Genbrugsection1.astro";
import Genbrugsection2 from "../components/campaignsite3/Genbrugsection2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Genbrugsection1 />
    <Genbrugsection2 />

    <Pbuttons />

    <Sbuttons />
  </body>
</html>
