---
import Pbuttons from "./Pbuttons.astro";
---

<section class="stotsection">
  <div class="container">
    <h3>Du kan beskytte naturen, dyrelivet og vores børn mod plastik</h3>
    <p>
      Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager
      ansvar for at standse overproduktion og forurening fra plastik nu og at vi
      kan uddanne fremtidens forbrugere.
    </p>
    <Pbuttons title="Støt nu" size="large" />
  </div>
</section>

<style>
  h3 {
    color: var(--text-paragraph-graphitedark, #1c1e23);
    font-family: "Poppins";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: var(--text-paragraph-color-pine-green-medium, #2a5f5e);
    font-family: "Rubik";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    align-self: stretch;
  }
  .stotsection {
    display: flex;
    height: 34.25rem;
    padding: var(--spacing-section-padding-vertical, 5rem)
      var(--spacing-section-padding-horzontal, 8rem);
    justify-content: center;
    align-items: center;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
  }
  .container {
    width: 46.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-text-gap-vertical, 2rem)
      var(--spacing-text-padding-horizontal, 3rem);
    align-self: stretch;
  }
</style>
