---
import Pbuttons from "./Pbuttons.astro";
---

<section class="stotsection">
  <div class="container">
    <h3>Vi bruger dit bidrag med omtanke</h3>
    <p>
      Forandring starter i det små, og selv det mindste skridt er et skridt i
      den rigtige retning. Dit bidrag går til:
    </p>
    <ul>
      <li>70% Projektstyring og administration</li>
      <li>22% Fundraising og indsamlinger</li>
      <li>8% Hav- og miljøindsatser</li>
    </ul>
    <Pbuttons title="Støt nu" size="large" />
  </div>
</section>

<style>
  h3 {
    font-family: "Poppins";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p,
  ul {
    color: var(--text-paragraph-color-pine-green-medium, #2a5f5e);
    /* Paragraph16Light */
    font-family: "Rubik";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
  }

  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .stotsection {
    display: flex;
    max-height: 32;
    padding: var(--spacing-section-padding-vertical, 5rem)
      var(--spacing-section-onecollum-padding-horizontal, 21.875rem);
    justify-content: center;
    align-items: center;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
  }
  .container {
    width: 46.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-text-gap-vertical, 2rem)
      var(--spacing-text-padding-horizontal, 3rem);
    align-self: stretch;
  }
</style>
