---
---

<section>
  <div class="contentcontainer1">
    <p>Kontakt</p>
    <p>info@plasticchange.org</p>
    <p>+45 42 66 72 46</p>
    <p>Telefintid: man - fre</p>
    <p>10:00 - 15:00</p>
  </div>
  <div class="contentcontainer2">
    <div>
      <p>Andet</p>
      <p>Gå til vores hjemmede</p>
      <a href="https://plasticchange.dk/"></a>
    </div>
    <div class="icons">
      <img src="src/asset/icons/facebookicon.svg" alt="link til facebook" />
      <img src="src/asset/icons/twittericon.svg" alt="link til twitter" />
      <img src="src/asset/icons/linkedinicon.svg" alt="link til linkedin" />
      <img src="src/asset/icons/youtubeicon.svg" alt="link til youtube" />
      <img src="src/asset/icons/instagramicon.svg" alt="link til instagram" />
    </div>
  </div>
  <div class="contentcontainer3">
    <p>Bank</p>
    <p>CVR. 35778985</p>
    <p>Konto. 84110002039618</p>
    <p>MobilePay: 304961</p>
    <p>SWIFT.FAELDKK1</p>
    <p>IBAN. DK3584110002039618</p>
  </div>

  <style>
    section {
      display: flex;
      height: 15.9375rem;
      max-height: 18.75rem;
      padding: var(--footer-padding-vertical, 1.5rem)
        var(--footer-padding-horizontal, 8rem);
      justify-content: space-between;
      align-items: center;
    }
    .contentcontainer1 {
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);

      gap: var(--size-8, 0.5rem);
    }
    .contentcontainer2 {
      text-align: center;
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);
    }
    .contentcontainer3 {
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);
      justify-content: flex-end;
      align-items: flex-start;
      gap: var(--size-8, 0.5rem);
    }
    .contentcontainer3 p {
      text-align: right;
    }
    .icons {
    }

    p {
      color: var(--text-paragraph-graphitedark, #1c1e23);
      font-family: "Rubik", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    img {
      color: var(--color-secondary-graphite-medium: #70727d);
    }

    img:hover {
      /* color: var(--color-primary-cerise-red-normal: #e72458); */
      color: #e72458;
    }
  </style>
</section>
