---
---

<section>
  <div class="contentcontainer1">
    <p class="titel">
      <b>Kontakt</b>
    </p>
    <p>info@plasticchange.org</p>
    <p>+45 42 66 72 46</p>
    <p>Telefintid: man - fre</p>
    <p>10:00 - 15:00</p>
  </div>
  <div class="contentcontainer2">
    <div>
      <p class="titel"><b>Andet</b></p>
      <p>Gå til vores hjemmede</p>
      <a href="https://plasticchange.dk/"></a>
    </div>
    <div class="icons">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="20"
        viewBox="0 0 12 20"
        fill="none"
      >
        <path
          d="M11.7303 0.00363653L8.72483 0C5.81029 0 3.92756 1.93091 3.92756 4.92273V7.19091H0.912109V11.2955H3.92756L3.92393 20H8.14302L8.14665 11.2955H11.6067L11.6039 7.19182H8.14665V5.26727C8.14665 4.34182 8.36574 3.87364 9.57029 3.87364L11.7212 3.87273L11.7303 0.00363653Z"
          fill="#A3A6B4"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="20"
        viewBox="0 0 26 20"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8.59307 20C18.0269 20 23.187 12.3044 23.187 5.63153C23.187 5.41246 23.187 5.19505 23.172 4.97845C24.1758 4.26464 25.042 3.37836 25.7308 2.36428C24.7958 2.77287 23.802 3.04082 22.7857 3.15896C23.8558 2.52762 24.657 1.53574 25.0408 0.365349C24.0333 0.953619 22.932 1.3688 21.7832 1.59156C19.8407 -0.441553 16.5919 -0.540058 14.5256 1.37244C13.1944 2.60559 12.6281 4.44421 13.0419 6.19794C8.91807 5.99365 5.07552 4.07626 2.47049 0.921997C1.10922 3.22954 1.80548 6.18044 4.05926 7.6622C3.243 7.63881 2.44424 7.42244 1.73048 7.03108V7.09517C1.73173 9.49873 3.453 11.5683 5.84553 12.0446C5.09052 12.2476 4.29801 12.2771 3.5305 12.1306C4.20176 14.1884 6.12804 15.5978 8.32182 15.6384C6.50554 17.0438 4.26176 17.807 1.95173 17.8045C1.54423 17.8033 1.13672 17.7799 0.730469 17.7319C3.07675 19.2137 5.80553 20 8.59307 19.9963"
          fill="#A3A6B4"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="20"
        viewBox="0 0 23 20"
        fill="none"
      >
        <path d="M5.53693 6.41429H1.29193V20H5.53693V6.41429Z" fill="#A3A6B4"
        ></path>
        <path
          d="M3.32511 0C1.75982 0 0.730469 1.01234 0.730469 2.35645C0.730469 3.67503 1.72579 4.71289 3.26556 4.71289H3.29959C4.89891 4.71289 5.89423 3.66653 5.88572 2.35645C5.85169 1.01234 4.8904 0 3.32511 0Z"
          fill="#A3A6B4"></path>
        <path
          d="M17.132 6.28669C14.699 6.28669 13.1762 7.61378 12.8955 8.54955V6.41429H8.12307C8.18262 7.54572 8.12307 20 8.12307 20H12.8955V12.6584C12.8955 12.2416 12.8785 11.8333 12.9976 11.544C13.3209 10.7274 14.0269 9.87665 15.2945 9.87665C16.9534 9.87665 17.702 11.1357 17.702 12.9732V20H22.5169V12.4458C22.5169 8.2433 20.152 6.28669 17.132 6.28669Z"
          fill="#A3A6B4"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="20"
        viewBox="0 0 30 20"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.8674 0C15.679 0.0014159 23.848 0.029734 25.9638 0.596095C27.1938 0.922569 28.161 1.8878 28.491 3.12272C29.0642 5.26212 29.0872 9.6254 29.0881 9.97104V10.0148C29.0872 10.3614 29.0642 14.7378 28.491 16.8772C28.161 18.1121 27.1938 19.0774 25.9638 19.4038C23.7812 19.9881 15.157 19.9998 14.8129 20H14.7917C14.4476 19.9998 5.82201 19.9881 3.638 19.4038C2.40943 19.0774 1.44085 18.1121 1.11228 16.8772C0.540392 14.7378 0.517517 10.3614 0.516602 10.0148V9.97104C0.517517 9.6254 0.540392 5.26212 1.11228 3.12272C1.44085 1.8878 2.40943 0.922569 3.638 0.596095C5.75516 0.029734 13.9255 0.0014159 14.7373 0H14.8674ZM11.8795 5.7771V14.2228L19.3481 9.99287L11.8795 5.7771Z"
          fill="#A3A6B4"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M10.0889 0C12.8059 0 13.1449 0.00999994 14.2109 0.0599999C15.2759 0.11 16.0009 0.277 16.6389 0.525C17.2989 0.779 17.8549 1.123 18.4109 1.678C18.9194 2.1779 19.3128 2.78259 19.5639 3.45C19.8109 4.087 19.9789 4.813 20.0289 5.878C20.0759 6.944 20.0889 7.283 20.0889 10C20.0889 12.717 20.0789 13.056 20.0289 14.122C19.9789 15.187 19.8109 15.912 19.5639 16.55C19.3135 17.2178 18.92 17.8226 18.4109 18.322C17.9108 18.8303 17.3062 19.2238 16.6389 19.475C16.0019 19.722 15.2759 19.89 14.2109 19.94C13.1449 19.987 12.8059 20 10.0889 20C7.37187 20 7.03287 19.99 5.96687 19.94C4.90187 19.89 4.17687 19.722 3.53887 19.475C2.87119 19.2245 2.26639 18.8309 1.76687 18.322C1.25827 17.8222 0.864799 17.2175 0.613867 16.55C0.365867 15.913 0.198867 15.187 0.148867 14.122C0.101867 13.056 0.0888672 12.717 0.0888672 10C0.0888672 7.283 0.0988671 6.944 0.148867 5.878C0.198867 4.812 0.365867 4.088 0.613867 3.45C0.864103 2.78218 1.25767 2.17732 1.76687 1.678C2.26654 1.16923 2.8713 0.775729 3.53887 0.525C4.17687 0.277 4.90087 0.11 5.96687 0.0599999C7.03287 0.0129999 7.37187 0 10.0889 0ZM10.0889 5C8.76278 5 7.49102 5.52678 6.55333 6.46447C5.61565 7.40215 5.08887 8.67392 5.08887 10C5.08887 11.3261 5.61565 12.5979 6.55333 13.5355C7.49102 14.4732 8.76278 15 10.0889 15C11.4149 15 12.6867 14.4732 13.6244 13.5355C14.5621 12.5979 15.0889 11.3261 15.0889 10C15.0889 8.67392 14.5621 7.40215 13.6244 6.46447C12.6867 5.52678 11.4149 5 10.0889 5ZM16.5889 4.75C16.5889 4.41848 16.4572 4.10054 16.2228 3.86612C15.9883 3.6317 15.6704 3.5 15.3389 3.5C15.0073 3.5 14.6894 3.6317 14.455 3.86612C14.2206 4.10054 14.0889 4.41848 14.0889 4.75C14.0889 5.08152 14.2206 5.39946 14.455 5.63388C14.6894 5.8683 15.0073 6 15.3389 6C15.6704 6 15.9883 5.8683 16.2228 5.63388C16.4572 5.39946 16.5889 5.08152 16.5889 4.75ZM10.0889 7C10.8845 7 11.6476 7.31607 12.2102 7.87868C12.7728 8.44129 13.0889 9.20435 13.0889 10C13.0889 10.7956 12.7728 11.5587 12.2102 12.1213C11.6476 12.6839 10.8845 13 10.0889 13C9.29322 13 8.53016 12.6839 7.96755 12.1213C7.40494 11.5587 7.08887 10.7956 7.08887 10C7.08887 9.20435 7.40494 8.44129 7.96755 7.87868C8.53016 7.31607 9.29322 7 10.0889 7Z"
          fill="#A3A6B4"></path>
      </svg>
    </div>
  </div>
  <div class="contentcontainer3">
    <p class="titel"><b>Bank</b></p>
    <p>CVR. 35778985</p>
    <p>Konto. 84110002039618</p>
    <p>MobilePay: 304961</p>
    <p>SWIFT.FAELDKK1</p>
    <p>IBAN. DK3584110002039618</p>
  </div>

  <style>
    section {
      display: flex;
      height: 15.9375rem;
      max-height: 18.75rem;
      padding: var(--footer-padding-vertical, 1.5rem)
        var(--footer-padding-horizontal, 8rem);
      justify-content: space-between;
      align-items: center;
    }
    .contentcontainer1 {
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);

      gap: var(--size-8, 0.5rem);
    }
    .contentcontainer2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);
    }
    .contentcontainer3 {
      width: 18.75rem;
      height: 14.5625rem;
      padding: var(--text-padding-vertical, 2rem)
        var(--text-padding-horizontal, 3rem);
      justify-content: flex-end;
      align-items: flex-start;
      gap: var(--size-8, 0.5rem);
    }
    .contentcontainer3 p {
      text-align: right;
    }

    p {
      color: var(--text-paragraph-graphitemedium, #70727d);
      font-family: "Rubik", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .icons {
      justify-content: baseline;
    }
    svg:hover path {
      fill: #e72458;
    }

    .titel {
      color: var(
        --text-paragraph-graphitedark,
        --color-secondary-graphite-dark
      );
    }
  </style>
</section>
