---
---

<section>
  <div class="nav">
    <a href="/"><img src="src/asset/icons/logo.svg" alt="" /></a>

    <div class="burger-menu">☰</div>
    <div class="close-icon">✕</div>

    <ul>
      <li>
        <a class="basiclink" href="/defemprincipper">De 5 Principper</a>
      </li>
      <li>
        <a class="basiclink" href="/hvorforgenbrug">Hvorfor Genbrug?</a>
      </li>
      <li>
        <a class="pinklink" href="/forms"
          >Bliv en Plastic Changer</a
        >
      </li>
    </ul>
    <!-- <img class="" src="src/asset/"/> -->
  </div>
</section>

<style>
  .nav {
    margin: 0rem;
    display: flex;
    padding: var(--nav-padding-vertical, 0rem)
      var(--nav-padding-horizontal, 3.5rem);
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }
  .basiclink {
    text-decoration: none;
    color: var(--link-color-default, --color-secondary-graphite-dark);
    /* color: var(--color-secondary-graphite-dark: #1c1e23); */
  }
  .basiclink:hover {
    color: var(
      --button-primary-default-text-color,
      --color-primary-cerise-red-normal
    );
    text-decoration: underline;
  }

  .basiclink:active {
    color: var(
      --button-primary-default-text-color,
      --color-secondary-graphite-dark
    );
    text-decoration: underline;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.4375rem;
  }

  .pinklink {
    text-decoration: underline;
    color: var(--text-header-highlight-color, #e72458);
  }

  .pinklink:hover {
    color: var(--text-paragraph-graphitedark, #1c1e23);
    text-decoration: underline;
  }

  .pinklink:active {
    color: var(--text-header-highlight-color, #e72458);

    text-decoration: underline;
  }

  li {
    font-family: "Rubik", sans-serif;
  }

  /* ----------- ama herfra ----------- */

  section {
    margin: 0;
    padding: 0;
  }
  .burger-menu {
    display: none;
    cursor: pointer;
    font-size: 3.5rem;
    margin-left: 10px;
  }

  .close-icon {
    display: none;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 10px;
    /* transition: height 300ms linear; */
  }

  @media (max-width: 1200px) {
    .burger-menu {
      display: block;
      /* order: 3;  */
    }

    .close-icon {
      display: none;
      /* order: 3;  */
    }

    .nav {
      margin: 0rem;
      display: flex;
      padding: var(--nav-padding-vertical, 0rem)
        var(--nav-padding-horizontal, 3.5rem);
      justify-content: space-between;
      align-items: center;
    }

    .nav img {
      width: 8.93525rem;
      height: 2.60444rem;
      /* order: 1;  */
    }

    .nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      right: 0;
      background: var(--color-complimentary-pine-green-light, #90b7b6);
      top: -300px; /* Set an initial off-screen position */
      z-index: 1000; /* Set a high z-index value */
      transition: transform 1s;
    }
  }

  .nav.open {
    background: var(--color-complimentary-pine-green-light, #90b7b6);
    /* transition: height 300ms linear; */
  }

  .nav.open ul {
    display: flex;
    top: 5%;
  }

  .nav.open .burger-menu {
    display: none;
  }

  .nav.open .close-icon {
    display: block;
    /* transition: height 300ms linear; */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const nav = document.querySelector(".nav");
    const burgerMenu = document.querySelector(".burger-menu");
    const closeIcon = document.querySelector(".close-icon");
    const menuList = document.querySelector(".nav ul");

    burgerMenu.addEventListener("click", function () {
      nav.classList.toggle("open");
    });

    closeIcon.addEventListener("click", function () {
      nav.classList.remove("open");
    });
  });
</script>
