---
const { title, size } = Astro.props;
---


  <button data-size={size}>{title}</button>


<style>

  button {
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    border-radius: 0.0625rem;
    background: var(--color-primary-cerise-red-normal, #e72458);
    color: var(--color-secondary-white, #fff);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Rubik;
    min-width: 235px;
  }

  button:hover {
    background: var(--color-complimentary-pine-green-normal, #007c79);
    transition: background-color 300ms;
  }

  [data-size="large"] {
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }

  [data-size="forms"] {
    width: 100%;
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    box-sizing: border-box; /* Include padding and border in the width */
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 5px;
  }
</style>
