---
const { title, size } = Astro.props;
---

<article>
  <button data-size={size}>{title}</button>
</article>

<style>
  article {
    display: grid;
    justify-content: space-around;
  }

  button {
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    border-radius: 0.0625rem;
    border: 2px solid var(--color-primary-cerise-red-normal, #e72458);
    color: var(--color-primary-cerise-red-normal, #e72458);
    /* box-shadow: 0px 4px 4px 0px rgba(#49131c); */

    font-family: Rubik;
    background-color: transparent;
  }

  button:hover {
    border: 2px solid var(--color-complimentary-pine-green-normal, #007c79);

    color: var(--color-complimentary-pine-green-normal, #007c79);
    transition: 300ms;
  }

  [data-size="medium"] {
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }

  [data-size="large"] {
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
  }

  [data-size="forms"] {
    width: 100%;
    padding: var(--button-padding-vertical, 1rem)
      var(--button-padding-horizontal, 2rem);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    box-sizing: border-box; /* Include padding and border in the width */
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 5px;
  }
</style>
