---
const { manchet, bigred, text } = Astro.props;
---

<article>
  <div class="headercontainer">
    <h2 class="header-text">{manchet}</h2>
    <h1 class="header-text pink">{bigred}</h1>
  </div>
  <p class="main-text">
    {text}
  </p>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* margin: 0 auto; */
    padding: var(--article-padding-vertical) var(--article-padding-horizontal);
    max-width: 800px;
    gap: var(--article-gap);
  }

  .header-text {
    color: var(--header-color);
    font-size: clamp(
      var(--font-size-header-small),
      5vw,
      var(--font-size-header-large)
    );
    line-height: var(--line-height-header);
  }

  .pink {
    color: var(--highlight-color);
  }

  .main-text {
    color: var(--paragraph-color);
  }

  @media (max-width: 1000px) {
    article {
      gap: var(--container-padding-between-elements: );
      padding-top: var(--container-padding-top-bottom: );
      padding-bottom: var(--container-padding-top-bottom: );
      padding-left: var(--container-padding-left-right);
      padding-right: var(--container-padding-left-right);
    }

    .header-text {
      line-height: var(--line-height-header-mobile);
    }
  }
</style>
