---
const { manchet, bigred, text } = Astro.props;
---

<article>
  <h2 class="header-text">{manchet}</h2>
  <h1 class="header-text pink">{bigred}</h1>
  <p class="main-text">
    {text}
  </p>
</article>

<style>
  :root {
    --spacing-vertical: 32px;
    --spacing-horizontal: 128px;
    --header-color: #000;
    --highlight-color: #e72458;
    --paragraph-color: #2a5f5e;
  }

  article {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 10%;
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }

  .header-text {
    color: var(--header-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  h1.header-text {
    font-size: clamp(38px, 5vw, 80px);
  }

  h2.header-text {
    font-size: clamp(18px, 3vw, 48px);
    font-weight: 900;
  }

  .pink {
    color: var(--highlight-color);
  }

  .main-text {
    color: var(--paragraph-color);
    font-family: "Rubik", sans-serif;
    font-size: clamp(16px, 1.5vw, 18px);
    font-weight: 500;
    line-height: 1.5;
    max-width: 60ch;
  }

  @media (max-width: 1000px) {
    article {
      padding: var(--spacing-vertical) calc(var(--spacing-horizontal) / 2);
      margin-left: 0;
    }
  }
</style>
