---
import Fbutton from "../globalcomponents/Fbutton.astro";
import Pbuttons from "../globalcomponents/Pbuttons.astro";
import Finput from "../globalcomponents/Finput.astro"
---

<section class="container">
  <h1>
    Bliv en <span class="pc-text">Plastic Changer</span> i dag og kæmp i <span class="fs-text">Fællesskab</span>
  </h1>
  <p>Være med til at redde verdenhavene for plastikaffald, ved at give en donation</p>

  <form>
    <!-- Donation Type -->
    <div class="form-group">
      <label>Hvad vil du støtte med?</label>
      <div class="inline">
        <Fbutton id="Btn1" title="Engang" />
        <Fbutton id="Btn2" title="Månedlig" />
      </div>
    </div>

    <!-- Donation Amount -->
    <div class="form-group">
      <label>Vælg beløb</label>
      <div class="inline">
        <Fbutton id="Btn3" title="50kr" />
        <Fbutton id="Btn4" title="100kr" />
        <Fbutton id="Btn5" title="200kr" />
      </div>
      <Finput placeholder="Skriv dit beløb..." inputSize="98%" />
    </div>

    <!-- Submit -->
    <div class="form-group">
      <Pbuttons title="Støt nu" size="forms" />
      <p>Vidste du, at dit bidrag er berettiget til skattefradrag?</p>
      <a href="#">Læs mere her</a>
    </div>
  </form>
</section>


<style>
  .grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px 44px;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
    border-radius: 5px;
    text-align: left;
  }

  h1,
  p,
  form label,
  a {
    font-family: Rubik;
  }

  h1 {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
  }

  .pc-text {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-weight: 800;
  }
  .fs-text {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    font-weight: 800;
  }

  p {
    color: var(--color-complimentary-pine-green-normal, #007c79);
    font-size: 16px;
    font-weight: 400;
  }

  form {
    padding-top: 16px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 30px;
    color: var(--color-secondary-graphite-dark, #1c1e23);
    font-size: 13px;
    font-weight: 800;
  }

  .form-group {
    margin-top: 24px;
  }

  .inline {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
  }

  a:hover {
    text-decoration: underline;
  }

  .highlighted {
    background: #357a79;
    color: #fff;
  }
</style>
<script>
</script>
