---
import Fbutton from "../globalcomponents/Fbutton.astro";
import Pbuttons from "../globalcomponents/Pbuttons.astro";
import Finput from "../globalcomponents/Finput.astro";
import Paybutton from "../globalcomponents/Paybutton.astro";
---

<section class="container">
  <h1>
    Bliv en <span class="pc-text">Plastic Changer</span> i dag og kæmp i <span class="fs-text">Fællesskab</span>
  </h1>
  <p>
    Være med til at redde verdenhavene for plastikaffald, ved at give en donation
  </p>

  <form>
    <div class="form-group">
      <Paybutton />
    </div>

    <div class="form-group">
      <Pbuttons title="Støt nu" size="forms" />
      <p class="underknap">
        Vidste du, at dit bidrag er berettiget til skattefradrag?
      </p>
      <a href="#">Læs mere her</a>
    </div>
  </form>
</section>

<style>
  .container {
    max-width: 450px;
    margin: 20px auto;
    padding: 30px 44px;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
    border-radius: 5px;
    text-align: left;
  }

  .container h1 {
    font-size: 24px; /* Adjusted font size */
  }

  .underknap {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .pc-text {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-weight: 800;
  }

  .fs-text {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    font-weight: 800;
  }

  p {
    color: var(--color-complimentary-pine-green-normal, #007c79);
    font-size: 16px;
    font-weight: 400;
  }

  form {
    padding: 16px 44px 30px;
    color: var(--color-secondary-graphite-dark, #1c1e23);
  }

  a {
    color: #3498db;
    text-decoration: none;
    font-size: 13px;
  }

  a:hover {
    text-decoration: underline;
  }

  .highlighted {
    background: #357a79;
    color: #fff;
  }
</style>
