---
import Fbutton from "../globalcomponents/Fbutton.astro";
import Pbuttons from "../globalcomponents/Pbuttons.astro";
import Finput from "../globalcomponents/Finput.astro";
import ProgIndicator4 from "./Progressbar/ProgIndicator4.astro";
import Sbuttons from "../globalcomponents/Sbuttons.astro";
---

<section class="container">
  <h1>
    Tilykke! du er nu en <span class="pc-text">Plastic Changer</span> velkommen til
    <span class="fs-text">Fællesskab</span>
  </h1>

  <form>
    <!-- Donation Type -->
    <div class="form-group">
      <label>Tusind tak for dit bidrag!</label>
      <p>
        Vi byder dig hjerteligt velkommen som nyt medlem i Plastic
        Changer-fællesskabet - tak for at være med til at gøre en forskel i at
        støtte denne vigtige sag!
      </p>
    </div>

    <!-- Submit -->
    <Pbuttons title="Til Nyhedsbrev" size="forms" />
    <p class="underknap">
      Vi sender kun væsentlig information, der direkte relaterer til vores
      mission om at ændre plastikvaner. Din tid og engagement er værdifulde for
      os.
    </p>
    <div class="form-group"></div>
  </form>
</section>

<style>
  .container {
    max-width: 450px;
    margin: 4rem;
    padding: 30px 44px;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
    border-radius: 5px;
    text-align: left;
  }

  .inputs {
    color: var(--color-secondary-graphite-medium, #70727d);
    /* Paragraph12Normal */
    font-family: "Rubik";
    font-size: 12px;

    font-weight: 400;
  }

  .underknap {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    /* Paragraph12Normal */
    font-family: "Rubik";
    font-size: 12px;

    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }

  .skattefradrag {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-family: "Rubik";
    font-size: 12px;

    font-weight: 700;
    line-height: 20px;
  }

  h1 {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
  }

  .pc-text {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-weight: 800;
  }
  .fs-text {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    font-weight: 800;
  }

  p {
    color: var(--color-complimentary-pine-green-normal, #007c79);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
  }

  form {
    padding-top: 16px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 30px;
    color: var(--color-secondary-graphite-dark, #1c1e23);
    font-family: "Rubik";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }

  .form-group {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .inline {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: var(--link-color-default, --color-secondary-graphite-dark);
    font-weight: 500;
    font-size: 13px;
  }

  a:hover {
    text-decoration: underline;
  }

  .highlighted {
    background: #357a79;
    color: #fff;
  }

  .no-style {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
  }
</style>
<script></script>
