---
import Fbutton from "../globalcomponents/Fbutton.astro";
import Pbuttons from "../globalcomponents/font-size: 20px;.astro";
import Finput from "../globalcomponents/Finput.astro";
import ProgIndicator2 from "./Progressbar/Progindicator2.astro";
---

<section class="container">
  <h1>
    Bliv en <span class="pc-text">Plastic Changer</span> i dag og kæmp i <span
      class="fs-text">Fællesskab</span
    >
  </h1>
  <ProgIndicator2 />
  <form>
    <!-- Donation Type -->
    <div class="form-group">
      <label>Navn <span class="inputs">(obligatorisk)</span></label>
      <Finput placeholder="fornavn og efternavn" inputSize="100%" />
    </div>
    <div class="form-group">
      <label>E-mail <span class="inputs">(obligatorisk)</span></label>
      <Finput placeholder="domain@mail.com" inputSize="100%" />
    </div>
    <div class="form-group">
      <label
        >CPR-nr <span class="inputs">(valgfrit for automatiskt fradrag)</span
        ></label
      >
      <Finput placeholder="f.eks. 121212-1234" inputSize="100%" />
    </div>

    <!-- Submit -->
    <div class="form-group">
      <Pbuttons title="Til betalning" size="forms" />
      <p class="underknap">
        Husk! Du kan også selv indtaste dit <span class="skattefradrag"
          >skattefradrag</span
        > når du intaster din selvangivelse hos skat.
      </p>
      <a href="#">Læs mere her</a>
    </div>
  </form>
</section>

<style>
  .container {
    max-width: 450px;
    margin: 4rem;
    padding: 30px 44px;
    background: var(--color-complimentary-pine-green-lightest, #d3e2e2);
    border-radius: 5px;
    text-align: left;
  }

  .inputs {
    color: var(--color-secondary-graphite-dark, #1c1e23);
    font-family: "Rubik";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }

  .underknap {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    /* Paragraph12Normal */
    font-family: "Rubik";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-top: 16px;
  }

  .skattefradrag {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  h1,
  p,
  form label,
  a {
    font-family: "Rubik";
  }

  h1 {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
  }

  .pc-text {
    color: var(--color-complimentary-pine-green-medium, #2a5f5e);
    font-weight: 800;
  }
  .fs-text {
    color: var(--color-complimentary-pine-green-dark, #142c2b);
    font-weight: 800;
  }

  p {
    color: var(--color-complimentary-pine-green-normal, #007c79);
    font-size: 16px;
    font-weight: 400;
  }

  form {
    padding-top: 16px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 30px;
    color: var(--color-secondary-graphite-dark, #1c1e23);
    font-size: 13px;
    font-weight: 800;
  }

  .form-group {
    margin-top: 24px;
  }

  .inline {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: var(--link-color-default, --color-secondary-graphite-dark);
    font-weight: 500;
    font-size: 13px;
  }

  a:hover {
    text-decoration: underline;
  }

  .highlighted {
    background: #357a79;
    color: #fff;
  }
</style>
<script></script>
